<h1 style="text-align: center;">「<%= @conference.title %>」の内容を修正する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form">
    <%= simple_form_for([@project,@conference]) do |f| %>
    <%= f.error_notification %>
    <div class="field">
      <%= f.input :title, label: 'タイトル', error: 'タイトルは必須です。', :placeholder => "タイトルをご記入ください" %>
      <%= f.label :youtube_url, "Youtube動画 URL" %>
      <%= f.text_field :youtube_url, :placeholder => "https://www.youtube.com/watch?v=xxxxxxxxxxx" ,class: "form-control" %></br>
      <%= f.label :conf_date, "ざだんかい終了予定日" %>
      <div class='input-group date datepicker form-horizontal'>
      <%= f.text_field :conf_date, :placeholder => "(例)2015-01-01-12:00", class: 'form-control datepicker' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div><br/>
      <%= f.label :description, "詳細内容", class: 'control-label' %>
      <%= f.cktext_area :description, class: 'form-control' %></br>
      <%= f.submit "ざだんかいを更新!", class: "btn btn-large btn-primary form-control" %>

    </div>
<% end %>
</div>