<div class="container">
  <div class="container-inner inner-default clearfix">
    <% projects.order("created_at desc").each do |project| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if project.main_image.present? %>
              <%= link_to image_tag(project.main_image.url , alt: project.project_name), project %>
            <% else %>
              <%= link_to image_tag("no-image.png" , alt: project.project_name), project %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= project.project_name %>
            <!-- period date -->
            <%if ((project.period_date - Time.zone.now).to_i / 1.day) >= 0 %>
              <h5 class="date">あと<strong><%= (project.period_date - Time.zone.now).to_i / 1.day %></strong>日</h5>
            <% else %>
            <h5 class="date"><strong>終了</strong></h5>
            <% end %>
        </div>
        <div class="action clearfix">
          <%= link_to "#{project.category}", project , class: "btn-have btn btn-warning btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>