<% content_for :head do %>
  <meta name="title" content="<%=@project.project_name %>の編集">
  <meta name="description" content="<%=@project.project_name %>の情報の編集">
<% end %>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 edit-project">
      <h3 style="text-align: center;">プロジェクト編集</h3>
      <%= simple_form_for(@project) do |f| %>
          <%= f.input :category, as: :select, collection: @categories, include_blank: '選択してください', label: 'カテゴリー', class: "form-control" %>

          <%= f.label :brand_name, "ブランド名" %>
          <%= f.text_field :brand_name, class: "form-control" %><br/>
          <%= f.input :project_name, label: 'プロジェクト名', class: "form-control" %>
          <%= f.label :period_date, "プロジェクト終了予定日" %>
          <div class='input-group date datepicker'>
          <%= f.text_field :period_date, :placeholder => "(例)2015-01-01-12:00", class: 'form-control datepicker' %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div><br/>

          <%= f.label :main_image, "メイン画像" %>
          <%= f.file_field :main_image, class: "form-control" %><br/>
          <%= f.label :youtube_url, "Youtube動画 URL" %>
          <%= f.text_field :youtube_url, :placeholder => "https://www.youtube.com/watch?v=xxxxxxxxxxx" ,class: "form-control" %><br/>

          <%= f.label :description, "プロジェクト詳細", class: 'control-label' %>
          <%= f.cktext_area :description, class: 'form-control' %><br/>
          <%= f.submit "プロジェクト情報の更新!", class: "btn btn-large btn-primary form-control" %>
      <% end %>
    </div>
</div>