<% content_for :head do %>
  <meta name="title" content="<%= @title %>">
  <meta name="description" content="プロジェクトの一覧ページです。">
<% end %>

<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <form class="form-inline">
      <div class="form-group">
          <%= search_form_for @q do |f| %>
          <!-- start 特定の文字列で始まる商品名で検索 -->
          <%= f.label :project_name_cont, "フリーワードで検索する", class: "control-label"  %>
          <%= f.search_field :project_name_cont, class: "form-control" %>
          <%= f.submit "検索する", class: "btn btn-large btn-primary form-control" %>
          <% end %>
          <%= search_form_for @q do |f| %><br/>
          <!-- カテゴリーで検索 -->
          <%= f.select :category_cont, @categories, include_blank: 'カテゴリーから検索する', class: "form-control" %>
          <%= f.submit "検索する", class: "btn btn-sm btn-primary form-control" %>
          <% end %>
      </div>
    </form>
  </div>

  <% if @q == nil %>
  <div class="container">
    <div class="container">
      <%= render 'projects/list' , projects: @projects %>
      <%= paginate @projects, class: 'pagenation' %>
    </div>
  <% else %>
    <div class="container">
      <%= render 'projects/list' , projects: @searchedProjects %>
      <div class="pagenation"><%= paginate @searchedProjects %><div>
    <% end %>
  </div>
  </div>
</div>
</div>
