<% content_for :head do %>
  <meta name="title" content="新規プロジェクト作成">
  <meta name="description" content="新しいプロジェクトを作成しよう">
<% end %>



<div class="row">
  <div class="col-md-6 col-md-offset-3 edit-project">
  <h1 style="text-align: center;">プロジェクトを作成する</h1>
    <%= simple_form_for(@project) do |f| %>
    <!-- error messages -->
    <%= f.error_notification %>
      <%= f.input :category, as: :select, collection: @categories, include_blank: '選択してください', label: 'カテゴリー' %></br>
      <%= f.input :brand_name, label: 'ブランド名', error: 'プロジェクト名は必須です' %><br/>

      <%= f.input :project_name,label: 'プロジェクト名', error: 'Username is mandatory, please specify one', :placeholder => "(例) 新感覚デニムを一からつくる！" %><br/>

      <%= f.label :period_date, "プロジェクト終了予定日" %>
      <div class='input-group date datepicker form-horizontal'>
        <%= f.text_field :period_date, :placeholder => "(例)2015-01-01-12:00", class: 'form-control datepicker' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div><br/>

      <%= f.input :main_image, as: :file, label: 'メイン画像', class: "form-control" %><br/>

      <%= f.input :youtube_url, as: :url, label: 'Youtube動画 URL',:placeholder => "https://www.youtube.com/watch?v=xxxxxxxxxxx" %></br>

      <%= f.label :description, "プロジェクト詳細",  class: 'control-label' %>
      <%= f.cktext_area :description, class: 'form-control' %><br/>
      <%= f.submit "プロジェクトを投稿する！", class: "btn btn-large btn-primary form-control" %>

    <% end %>
  </div>
  <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                });
            });
  </script>
</div>