<% content_for :head do %>
  <meta name="title" content="<%=@project.project_name %>">
  <meta name="description" content="「<%= @project.project_name %>」に関する情報です">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-2 project-user-profile">
      <% if @project.brand_name.present? %>
        <h4><%= @project.brand_name %></h4>
      <% end %>
      <% if @project.user != nil %>
      <h4><%= @project.user.username %></h4>
        <!-- image -->
        <% if @project.user.avatar.url == nil && @project.user.remote_avatar == nil %>
          <%= link_to image_tag("/images/user.jpg" , alt: "No Image"), user_path(@project.user) %>
        <% elsif @project.user.remote_avatar != nil && @project.user.avatar.url == nil %>
          <%= link_to image_tag(@project.user.remote_avatar.url , alt: @project.user.username), user_path(@project.user) %>
        <% else %>
          <%= link_to image_tag(@project.user.avatar.url , alt: @project.user.username), user_path(@project.user) %>
        <% end %>
      <% end %>
      <h5>プロジェクト完了予定日</h5>
      <% if @project.period_date.present? %>
        <h5><%= @project.period_date %></h5>
        <% if @d2 >= 0 %>
        <h5>終了まであと<strong><%= @d2 %></strong>日</h5>
        <% else %>
        <h5>終了</h5>
        <% end %>
      <% end %>
      <div>
        <% if current_user == @project.user && current_user != nil %>
            <%= link_to "プロジェクトの編集", edit_project_path(@project), class: "btn btn-large btn-default" %>
        <% end %>
      </div>
    </div>
    <div class= "col-sm-7">
      <div class="title">
       <!-- user join form -->
       <% if current_user != nil && current_user != @project.user %>
         <%= render 'users/join_form' %>
       <% end %>

        <h2><%= @project.project_name %></h2>
      </div>
      <% if @project.youtube_url.present? %>
        <div class= "youtube-container">
        <%= embed(@project.youtube_url) %>
        </div>
      <% else %>
        <%= image_tag(@project.main_image) %>
      <% end %><br/>

      <!-- facebook いいね -->
      <div class="fb-like" data-href="<%= "http://#{request.host+request.fullpath}" %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <h3>どんなプロジェクトなの？</h3>
        <%== @project.description %>
         <% if current_user != nil %>
      <section class="comment_form">
          <%= render 'shared/comment_form' %>
      </section>
      <% end %>
      <h3>コメント一覧</h3>
      <% if @project.comments.count == 0 %>
        <p>現在コメントはありません。</p>
      <% end %>
        <% if @project.comments.present? %>
        <% @project.comments.order("created_at asc").each do |comment| %>
        <!-- コメントがプロジェクトオーナーの場合は右表示 -->
          <% if comment.commenter == @project.user.username %>
            <div class="comment2-1">
              <div class="imgL">
                <% if comment.remote_avatar != nil %>
                  <p><%= image_tag(comment.remote_avatar , alt: comment.commenter) %><br/>
                  <%= comment.commenter %></p>
                <% else %>
                  <p><%= image_tag(comment.avatar , alt: comment.commenter) %><br/>
                  <%= comment.commenter %></p>
                <% end %>
              </div>
              <div class="commentContents">
                <p><%= simple_format comment.body %></p>
                <p class="data"><%= comment.created_at.to_s(:default) %></p>
                <% if current_user != nil %>
                  <% if current_user.username == comment.commenter%>
                    <%= link_to "編集", edit_project_comment_path(@project, comment), class: "btn btn-large btn-default" %>
                    <%= link_to "削除", project_comment_path(@project, comment), method: :delete, class: "btn btn-large btn-danger", data: { confirm: "You sure?" } %>
                  <% end %>
                <% end %>
                <!--/ .commentContents-->
              </div>  
            </div><!-- .comment1-1 -->
          <% else %><!-- その他の人は左表示 -->
            <div class="comment1-1">
              <div class="imgL">
                <% if comment.remote_avatar != nil %>
                  <p><%= image_tag(comment.remote_avatar , alt: comment.commenter) %><br/>
                  <%= comment.commenter %></p>
                <% else %>
                  <p><%= image_tag(comment.avatar , alt: comment.commenter) %><br/>
                  <%= comment.commenter %></p>
                <% end %>
              </div>
              <div class="commentContents">
                <p><%= simple_format comment.body %></p>
                <p class="data"><%= comment.created_at.to_s(:default) %></p>
                <% if current_user != nil %>
                  <% if current_user.username == comment.commenter%>
                    <%= link_to "編集", edit_project_comment_path(@project, comment), class: "btn btn-large btn-default" %>
                    <%= link_to "削除", project_comment_path(@project, comment), method: :delete, class: "btn btn-large btn-danger", data: { confirm: "You sure?" } %>
                  <% end %>
                <% end %>
                <!--/ .commentContents-->
              </div> 
            </div><!-- .comment1-1 -->
          <% end %>
       <% end %>
       <% end %>
    </div>
    <div class="col-sm-3">
      <% if @users.any? %>
      <p>プロジェクトメンバー数: <strong><%= @users.length %></strong>人</p>
        <% @users.each do |user| %>
          <%= user.username %>
          <% if user.remote_avatar != nil %>
            <p><%= image_tag(user.remote_avatar, class: "icon_image" , alt: user.username) %></p>
          <% else %>
            <p><%= image_tag(user.avatar , class: "icon_image", alt: user.username) %></p>
          <% end %>
        <% end %>
      <% end %>
      
      <% if current_user == @project.user && current_user != nil %>
      <div>
          <%= link_to "座談会を開催する！" , new_project_conference_path(@project),class: "btn btn-large btn-primary" %>
      </div><br/>
      <% else %>
        <%  %>
      <% end %>
      
      <% if current_user != nil %>
        <% if @joinerUser != nil %>
          <% if @users.include? current_user %>
            <%= render 'conference_list' %>
          <% elsif current_user == @project.user %>
            <%= render 'conference_list' %>
          <% else %>
            <% # %> 
          <% end %>
        <% elsif current_user == @project.user %>
          <%= render 'conference_list' %>
        <% else %>
          <% # %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
