<!DOCTYPE html>
<html>
<head>
  <% if @project_title.present? %>
    <title><%= "#{@project_title} - Zadankai" %></title>
  <% elsif @userName.present? %>
    <title><%= "#{@userName} - Zadankai" %></title>
  <% elsif @conference_title.present? %>
    <title><%= "#{@conference_title} - Zadankai" %></title>
  <% elsif @title.present? %>
    <title><%= "#{@title} - Zadankai" %></title>
  <% else %>
    <title><%= 'Zadankai' %></title>
  <% end %>
  <!-- #meta information -->
  <%= yield :head %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'application',  'Ckeditor.cdn_url' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render partial: "layouts/header" %>

<%= render 'layouts/messages' %>

  <%= yield %>
<%= render partial: "layouts/footer" %>

 <!-- facebook javascript SDK -->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1067987169925893',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=1067987169925893";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
